

body {
    background-image: url('Movies.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 .headerbodycontainer {
     box-shadow: 0 4px 8px 0 rgba (0,0,0,0,2);
     transition: 0.3s;
     width: 40%;
     height: 60%;
     position: center;
     background-color: black;
     color: red;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }
 .card-header {
     color: red;
     background-color: black;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }
 .container {
     padding: 2px 16px;
     background-color: black;
 }

